@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
* {
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    font-family: 'Averia Serif Libre', cursive;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./form-background-1024x683.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(red, green, blue, alpha);
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    box-shadow: 10px 10px 100px 5px black;
}

.title {
    padding: 40px 40px;
    font-size: 25px;
}

.title h2 {
    margin: 0;
}

.form {
    padding: 10px 40px;
    padding-bottom: 50px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 40px;
    position: relative;
    font-size: 20px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    padding-left: 34px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 6px;
}

.form-control .icons {
    color: #354349;
    visibility: visible;
    left: 9px;
    margin-right: 367px;
    margin-left: 2px;
    font-size: 17px;
}

.form-control .pasu {
    color: #354349;
    visibility: visible;
    left: 9px;
    right: 20px;
    margin-left: 360px;
    /* margin-right: 200px; */
    font-size: 17px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: -7px;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 50px;
    /* margin-bottom: 30px; */
    width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .form-control small {
        color: #e74c3c;
        position: absolute;
        bottom: 8px;
        left: 0;
        font-size: 10px;
        visibility: hidden;
    }
    .form button {
        background-color: #8e44ad;
        border: 2px solid #8e44ad;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-family: inherit;
        font-size: 16px;
        padding: 10px;
        margin-top: 20px;
        width: 100%;
    }
    body {
        background-size: 300%;
    }
}